* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("assets/cafe-background.png") no-repeat center top;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 6rem;
}

nav button {
    margin-left: 1rem;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}


footer {
    margin-top: 5rem;
    padding: 1rem 2rem;
    background-color: #46382E;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
}

/* Home page styling */

table {
    border-collapse: collapse;
    font-size: 0.9rem;
    margin-top: 1rem;
}

th, td {
    align-content:  start;
    padding: 0.5rem 0;
}

tr:not(:last-child) {
    border-bottom: rgba(255, 255, 255, 0.3) 1px solid;
}

th, tr td:first-child {
    padding-right: 1.5rem;
}

#home {
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 1rem;
    margin-left: auto;
    margin-right: 15%;
}

#home h1 {
    margin: 5rem auto;
}

#home button {
    border: none;
    border-radius: 0.3rem;
    background: #606749;
    color: white;
    cursor: pointer;
    padding: 0.5rem 0.5rem;  
    letter-spacing: 0.025rem;  
}

/* Menu page styling */

#menu {
    text-align: center;
}

#menu h2 {
    font-size: 1rem;
    text-align: left;
    margin: 0.5rem 0 1rem;
}

#menu p {
    font-size: 0.7rem;
    margin-top: 0.4rem;
}

.menu-section {
    background-color: rgba(93, 77, 65, .85);
    padding: 1rem 2rem;
    margin: 2rem auto;
    max-width: fit-content;
}

.menu-section > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.menu-card {
    width: 6.5rem;
}

.menu-card img {
    width: 100%;
    cursor: pointer;
}