* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('./GeistMono-VariableFont_wght.ttf') format('truetype');
  }

body {
    background: url("assets/cafe-background.png") no-repeat center top / cover;
    font-family: 'Geist Mono', 'Courier New', Courier, monospace;
    color: #e8d3c2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 6rem;
}

nav button {
    margin-left: 1rem;
    border: none;
    background: none;
    color: #e8d3c2;
    cursor: pointer;
}

footer {
    margin-top: 5rem;
    padding: 1rem 2rem;
    background-color: #5D4B3D;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
}

.two-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin: 2rem auto;
}

/* Home page styling */

#home h1 {
    margin: auto;
    font-size: 2.5rem;
}

#home h2 {
    font-weight: normal;
    margin: 1rem 0 4rem;
}

#home button {
    border: none;
    border-radius: 0.3rem;
    background: #606749;
    color: #e8d3c2;
    cursor: pointer;
    padding: 0.5rem 0.5rem;  
    letter-spacing: 0.025rem;  
    width: 22rem;
}

#home div:first-child {
    text-align: left;
    width: 23rem;
}

#visit {
    border: 2px solid #5D4B3D;
    border-radius: 0.75rem;
    font-size: 0.8rem;
}

#visit p {
    text-align: center;
}

#visit p:first-child {
    background-color: #5D4B3D;
    font-weight: bold;
    padding: 0.4rem 0;
    border-radius: 0.5rem 0.5rem 0 0;
}

#visit p:nth-child(2) {
    padding: 1rem;
    margin: 0 1rem;
}

hr {
    margin: auto;
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

table {
    border-collapse: collapse;
    font-size: 0.8rem;
    margin: 1rem auto;
}

th, td {
    align-content:  start;
    padding: 0.5rem 0;
}

tr:not(:last-child) {
    border-bottom: rgba(255, 255, 255, 0.3) 1px solid;
}

th, tr td:first-child {
    padding-right: 1.5rem;
}

/* Menu page styling */

#menu {
    text-align: center;
    margin: 0 1rem;
}

#menu h2 {
    text-align: left;
    font-size: 1rem;
    margin: 0.5rem 0 1rem;
}

#menu p {
    font-size: 0.7rem;
    margin-top: 0.4rem;
}

.menu-section {
    background-color: rgba(93, 75, 61, .75);
    padding: 1rem 2rem;
    margin: 2rem auto;
    max-width: fit-content;
    border-radius: 0.4rem;
}

.menu-section > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.menu-card {
    width: 6.5rem;
}

.menu-card img {
    width: 100%;
    cursor: pointer;
}

/* About page styling */

#about {
    text-align: center;
    margin: auto;
    max-width: fit-content;
}

#about h2 {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#about .two-col img {
    max-width: 16rem;
    height: 100%;
}

#about .two-col div {
    text-align: left;
    width: 20rem;
}

#about .two-col p {
    margin-top: 1rem;
    font-size: 0.9rem;
}
